# 始终不忽略这些文件
!*/.gitkeep

# 忽略虚拟环境和 pycache
__pycache__/
.venv/

# 编辑器或IDE生成的文件
.DS_Store
.idea/
*.suo
*.user
*.swp
*~

# 操作系统生成的文件
Thumbs.db

# 数据文件夹      
!data/raw/.gitkeep 

# 其他
*.egg-info
dist/
build/
*.log